# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\SIMOL\Curso_Java\LIVRO-JAVA-EXEMPLOS\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
